.img {
    width: 30rem;
    height:30rem;
    margin: 10px;
    border-radius: 50px;
    display: flex;
}
.btns{
    margin: 5px;
    background-color:#4caf50;
    border: none;
    border-radius: 5px;
    padding: 10px;
}