#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
}

header{
  background-color: rgb(215, 57, 84);
  flex: 1;
}
main{
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: aqua;
  color: black;
}


.TarjetaProducto{
  flex: 1;
  color: rgb(92, 159, 163);
  border: 2px solid rgb(93, 49, 84);
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}
footer{
  background-color: blueviolet;
}