#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #242424;
  color: rgb(255, 255, 255);
}
.tarjetaHeroes{
display: flex;
}
.tarjetaHeroes>div{
flex: 1;
margin: 1rem;
}
img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}