#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  text-align: center;
}
.product{
display: flex;
align-items: baseline;
}

body{
margin: 0;
display: flex;
place-items: center;
background-color: #f8f9fb;
}

h1{
  color: #0e0974;
}