#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

header{
  background-color: pink;
  flex: 1;
}

main{
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.persona{
  flex: 1;
  color: black;
  border: 2px solid black;
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}