#root {

  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
}

input{width: 100%;}
.button{
background-color:blue ;
}