#root {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header{
  flex: 1;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer{
  flex: 1;
}
h2{
  color:rgb(22,160,133);
  font-size: 3rem;
}
h1{
  color:rgb(52,70,87);
}

li{
  color: black;
  font-size: 2rem;
  margin-right: 8rem;
}